body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #023a7f;
}

.nav-bar {
  position: sticky;
  top: 0px;
  z-index: 1000;

  background-color: #90CAF9; /*COLOR FOR NAVIGATION*/
 
  /* margin-left: -20px;
  margin-right: -20px; */
}

/* IF YOU WANNA CHANGE THE COLOR OF THE TEXT IN THE NAVIGATION BAR, CHANGE IT HERE ---------------------- */
/* .navbar-light .navbar-nav .nav-link  { 
  color: orange;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: red;
} */


footer {
  padding: 10px;
  text-align: center;
  background-color: rgb(182, 200, 206);
}