:root{
  --transition-time: .5s;
  --arrow-padding: 20px;
  --arrow-pos: 5px;
}

/*--------------------------------------------------------------------------------------------------------*/
div.tiles {
  height: 600px;
  box-sizing: content-box;
  padding: 0px;

  overflow: hidden;

  border-bottom: 2px solid black;
}

div.tiles img {
  height: 600px;
}


div.name-tile {
  height: 700px;

  background-image: url(./images/water.jpg);
  background-size: 100% 700px;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

div.name-tile > p.titleText {
  /* text-align: center;  */
  font-size: 6em;
  color: #a3b5d3;
  opacity: 0;

  width: 980px; 
  height: 220px;
  margin: 0px;
  padding: 0px;

/*Was previously doing stuff like left:__px*/
  /* position: absolute; */
  
  animation-name: appearText-name-tile;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div.name-tile > p.subText {
  /* text-align: center;  */
  font-size: 3em;
  color: #a3b5d3;
  opacity: 0;

  width: 980px; 
  height: 50px;
  margin: 0px;
  padding: 0px;
  
  animation-name: appearText-name-tile;
  animation-delay: 2.7s;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes appearText-name-tile {
  0% {
    color: #a3b5d3;
    opacity: 0;
  }
  100% {
    color: #dde9fd;
    opacity: 1;
  }
}
/*----------------------------------------------------------------------------------------------------*/
div.school-tile {
  background-color: rgb(94, 68, 104);
  
  margin: 0px;
  padding: 0px; 

  overflow: hidden;
}

div.school-tile p {
  /* float: right; */
  font-size: 3.5em;
  opacity: 0;
  text-align: center;
  max-width: 100%;
  max-height: 600px;
  padding-top: 10%;

  margin-left: 20px;
  margin-right: 20px;
  
}

.clear-float {
  clear: both;
}

div.school-tile  p.schoolTileAnimate {
  animation-name: appearText-school-tile;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appearText-school-tile {
  0% {
    color: blue;
    opacity: 0;
  }
  100% {
    color: #dde9fd;
    opacity: 1;
  }
}
/*----------------------------------------------------------------------------------------------------*/

div.hobbies-tile {
  background-color: rgb(100, 121, 172);
  margin: 0px;
  padding: 0px;
  position: static;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-height: 600px;
}


div.hobbies-tile p {
  margin: 0px;
  padding: 0px;
}

.carousel-message {
  width: 100%;
  display: table-cell;
  /* background-color: rgb(37, 111, 221); */
  background-color: clear;
  max-height: 600px;
  padding: 10px;
}
#hobbies-message-left {

}
#hobbies-message-right {
  
}


#middle-cell {
  width: 90%;
}



.carousel-wrapper, #hobbies-carousel {
  width: 900px;
  display: table-cell;
  max-height: 600px;
  position: relative;
  margin: 0px;
  padding: 0px;

  border-left: 1px solid black;
  border-right: 1px solid black;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  
}

.carousel-wrapper img{
  height: 600px;
  position: absolute;
  width: 100%;
  
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.carousel-wrapper img.start{
  animation-delay: -0.5s;
}
.carousel-wrapper img.active-left{
  animation-name: slide-in-left;
}
.carousel-wrapper img.active-right{
  animation-name: slide-in-right;
}
.carousel-wrapper img.inactive-left{
  animation-name: slide-out-left;
}
.carousel-wrapper img.inactive-right{
  animation-name: slide-out-right;
}
<<<<<<< HEAD
.carousel-wrapper img.standby-left{
  transform: translateX(-100%);
}
.carousel-wrapper img.standby-right{
  transform: translateX(100%);
}
.carousel-wrapper img.hidden {
  display: none;
  visibility: hidden;
}
@keyframes start-position {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
=======

>>>>>>> parent of 4705ea3... made transitions smooth. consolidated methods
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
div.arrow-wrapper {
  box-sizing: content-box;
  position: absolute;
  padding-left: var(--arrow-padding);
  padding-right: var(--arrow-padding);
  width: 60px;
  height: 100%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  z-index: 1;
  transition: var(--transition-time);
  background-repeat: no-repeat;
}

.arrow-wrapper:hover {
  background-color: rgb(0,0,0,.5);
}

#right-arrow-wrapper {
  right: 0px;
  float: right;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
#right-arrow-wrapper:hover {
  /*parabolic shape*/
  /* background-image: radial-gradient(ellipse 110% 56% at 100% 50%,  rgb(0,0,0,.5) 89%, transparent 90%); */
  transition: var(--transition-time);
}
#left-arrow-wrapper {
  left: 0px;
  float: left;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
#left-arrow-wrapper:hover {
  /*parabolic shape. */
  /* background-image: radial-gradient(ellipse 110% 56% at 00% 50%, rgb(0,0,0,.5) 89%, transparent  90%); */
}

.arrow-link {
  position: absolute;
  top: 47%;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 40px;
  border-radius: 50%;
  opacity: 1;
  transition: var(--transition-time);
}

div.arrow-wrapper:hover .arrow-link{
  background-color:  rgb(0,0,0,0);
  color: white;
  opacity: 1;
  transition: var(--transition-time);
}
#left-arrow {
  left: calc(var(--arrow-padding) + var(--arrow-pos));
}
#right-arrow {
  right: calc(var(--arrow-padding) + var(--arrow-pos));
}


@keyframes appearText-hobbies-tile {
  0% {
    color: blue;
    opacity: 0;
  }
  100% {
    color: red;
    opacity: 1;
  }
}


/*----------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 768px){
  div.tiles {
    height: 500px;
  }
  div.name-tile {
    height: 500px;
  }
  div.name-tile > p.titleText {
    text-align: center; 
    font-size: 3em;
    width: 95%; 
    height: 120px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 10%;
  
  }
  
  div.name-tile > p.subText {
    text-align: center; 
    font-size: 2.5em;
    opacity: 0;
    width: 95%; 
    height: 50px;
    margin: 0px;
    padding: 0px;

    position: absolute;
    top: 50%;
  
  }

  div.school-tile {
    position: relative;
  }


  div.school-tile p {
    float: none;
    text-align: center; 
    font-size: 3.5em;
    position: absolute;
    top: 140px;

    max-width: 100%;
    margin-right: 0px;
    padding-top: 0px;
  }

  div.school-tile img {
    float:none;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  @keyframes appearText-school-tile {
    0% {
      color: blue;
      opacity: 0;
    }
    100% {
      color: #dde9fd;
      opacity: 1;
    }
  }



}