/*--------------------------------------------------------------------------------------------------------*/
div.tiles {
  height: 600px;
  box-sizing: content-box;
  padding: 0px;

  overflow: hidden;
}

div.tiles img {
  height: 600px;
}


div.name-tile {
  height: 700px;

  background-image: url(./images/water.jpg);
  background-size: 100% 700px;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

div.name-tile > p.titleText {
  /* text-align: center;  */
  font-size: 6em;
  color: #a3b5d3;
  opacity: 0;

  width: 980px; 
  height: 220px;
  margin: 0px;
  padding: 0px;

/*Was previously doing stuff like left:__px*/
  /* position: absolute; */
  
  animation-name: appearText-name-tile;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div.name-tile > p.subText {
  /* text-align: center;  */
  font-size: 3em;
  color: #a3b5d3;
  opacity: 0;

  width: 980px; 
  height: 50px;
  margin: 0px;
  padding: 0px;
  
  animation-name: appearText-name-tile;
  animation-delay: 2.7s;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes appearText-name-tile {
  0% {
    color: #a3b5d3;
    opacity: 0;
  }
  100% {
    color: #dde9fd;
    opacity: 1;
  }
}
/*----------------------------------------------------------------------------------------------------*/
div.school-tile {
  background-color: rgb(73, 42, 85);
  
  margin: 0px;
  padding: 0px;

  border-style: solid;
  border-width: 2px;

  overflow: hidden;
}

div.school-tile p {
  /* float: right; */
  font-size: 3.5em;
  opacity: 0;
  text-align: center;
  max-width: 100%;
  padding-top: 225px;

  margin-left: 20px;
  margin-right: 20px;
  
}

.clear-float {
  clear: both;
}

div.school-tile  p.schoolTileAnimate {
  animation-name: appearText-school-tile;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appearText-school-tile {
  0% {
    color: blue;
    opacity: 0;
  }
  100% {
    color: #dde9fd;
    opacity: 1;
  }
}
/*----------------------------------------------------------------------------------------------------*/

div.hobbies-tile {
  background-color: rgb(100, 121, 172);
  margin: 0px;
  padding: 0px;
  position: static;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-height: 600px;
}

div.hobbies-tile > * {
  margin: 0px;
  padding: 0px;
}

div.hobbies-tile p {
  margin: 0px;
  padding: 0px;
}


#hobbies-message-left {
  width: 100%;
  display: table-cell;
  background-color: purple;
  max-height: 600px;
}
.carousel-wrapper, #hobbies-carousel {
  width: 800px;
  display: table-cell;
  background-color: green;
  max-height: 600px;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.carousel-image {
  width: 800px;
  position: absolute;
}
#hobbies-message-right {
  width: 100%;
  display: table-cell;
  background-color: orange;
  max-height: 600px;
}


div.arrow-wrapper {
  position: absolute;
  top:50%;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

}

#right-arrow-wrapper {
  right: 10px;
}
#left-arrow-wrapper {
  left: 10px;
}
.arrow-link {
  background-color: red;
  cursor: pointer;
  font-size: 40px;
  border-radius: 24px;
}

.arrow-link:hover{
  color: green;
}

@keyframes appearText-hobbies-tile {
  0% {
    color: blue;
    opacity: 0;
  }
  100% {
    color: red;
    opacity: 1;
  }
}


/*----------------------------------------------------------------------------------------------------*/


@media screen and (max-width:768px){
  div.tiles {
    height: 500px;
  }
  div.name-tile {
    height: 500px;
  }
  div.name-tile > p.titleText {
    text-align: center; 
    font-size: 3em;
    width: 95%; 
    height: 120px;
    margin: 0px;
    padding: 0px;
  
  }
  
  div.name-tile > p.subText {
    text-align: center; 
    font-size: 2.5em;
    opacity: 0;
  
    width: 95%; 
    height: 50px;
    margin: 0px;
    padding: 0px;
  
  }

  div.school-tile {
    position: relative;
  }


  div.school-tile p {
    float: none;
    text-align: center; 
    font-size: 3.5em;
    position: absolute;
    top: 140px;

    max-width: 100%;
    margin-right: 0px;
    padding-top: 0px;
  }

  div.school-tile img {
    float:none;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  @keyframes appearText-school-tile {
    0% {
      color: blue;
      opacity: 0;
    }
    100% {
      color: #dde9fd;
      opacity: 1;
    }
  }



}